@{
    ViewBag.Title = "Access Denined";
}

<h2 style="text-align: center; color: red">Bạn không có quyền truy cập</h2>
<div style="text-align: center">
    <button class="btn btn-primary">
        <a href="/" style="color: #fff">
            Về trang chủ
        </a>
    </button>
</div>
