@{
    ViewBag.Title = "Đăng ký";
}

<main class="main">
    <div style="display: flex; align-items: center; justify-content: center;">
        <form class="login-form" action="~/Account/Register" method="post">
            @Html.AntiForgeryToken()
            <h3 class="mb-5 text-center">Đăng ký</h3>

            <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input name="username" type="text" id="typeEmailX-2" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Mật khẩu</label>
                <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Nhập lại mật khẩu</label>
                <input name="rePassword" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
            </div>
            @Html.ValidationMessage("Error", new { @style = "color:#f00" })
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Đăng ký</button>
            <div>
                <p class="text-center">
                    Bạn đã có tài khoản? <a href="~/Account/Login">Đăng nhập ngay</a>
                </p>
            </div>
        </form>
    </div>
</main>