@model List<SV21T1020546.Shop.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
}
<main class="main">
    <!-- Cart items details -->
    <div class="small-container cart-page">
        <div style="display: flex; align-items: center; justify-content: space-between">
            <h3 class="heading">Giỏ hàng</h3>
            <a href="~/Cart/ClearCart" class="btn btn-sm btn-danger ajax-link" onclick="return confirm('Có muốn xóa giỏ hàng không?')">
                <i class="fa fa-trash"></i> Xóa giỏ hàng
            </a>
        </div>
        <div id="shoppingCart">
        </div>

        <div style="
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
          ">
            <a href="~/Checkout" class="btn btn-primary" style="@(Model == null || !Model.Any() ? "pointer-events: none; opacity: 0.5;" : "")">
                Mua ngay
            </a>
        </div>
    </div>
</main>

@section scripts {
    <script>
        $(document).ready(function () {

            showShoppingCart()
        })

        $(".ajax-link").click(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).prop("href"),
                type: "GET",
                success: function (data) {
                    if (data !== "") {
                        alert(data);
                    }
                    else {
                        showShoppingCart();
                    }
                }
            });
        });
    </script>
}