@model SV21T1020546.Shop.Models.HomeModel

<div class="main banner">
    <div class="col-2 container">
        <h1>
            Give Your Workout <br />
            A New Style!
        </h1>
        <p>
            Success isn't always about greatness. It;s about consistency.
            Consistent <br />
            hard work gains success. Greatness will come.
        </p>
        <a href="" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
        <img src="images/image1.png" />
    </div>
</div>

<!-- Feadtued Categories -->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-4 category_item">
                <i class="fa fa-truck"></i>
                <div>
                    <h4>free shipping</h4>
                    <p>Free Shipping on Payment</p>
                </div>
            </div>
            <div class="col-4 category_item">
                <i class="fa fa-truck"></i>
                <div>
                    <h4>free shipping</h4>
                    <p>Free Shipping on Payment</p>
                </div>
            </div>
            <div class="col-4 category_item">
                <i class="fa fa-truck"></i>
                <div>
                    <h4>free shipping</h4>
                    <p>Free Shipping on Payment</p>
                </div>
            </div>
            <div class="col-4 category_item">
                <i class="fa fa-truck"></i>
                <div>
                    <h4>free shipping</h4>
                    <p>Free Shipping on Payment</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        @foreach (var item in Model.FeaturedProducts)
        {
        <div class="col-4">
            <a href="product_details.html"><img src="images/product-1.jpg" /></a>
            <h4>@item.ProductName</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        }
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        @foreach (var item in Model.LatestProducts)
        {
        <div class="col-4">
            <div class="img">
                <img src="images/product-8.jpg" />
            </div>
            <div class="detail">
                <h4>Red Printed T-Shirt</h4>
                <p>$50.00</p>
            </div>
        </div>
        }
    </div>
</div>

<!-- Offer -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/exclusive.png" class="offer-img" />
            </div>
            <div class="col-2">
                <p>Exclusively Available on RedStore</p>
                <h1>Smart Band 4</h1>
                <small>
                    The Mi Smart Band 4 fearures a 39.9%larger (than Mi Band 3)
                    AMOLED color full-touch display with adjustable brightness, so
                    everything is clear as can be.<br />
                </small>
                <a href="products.html" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
