<div class="footer">
    <div class="container">
        <div class="row" style="gap: 10px">
            <div class="footer-col-2">
                <div style="margin-bottom: 40px; font-size: 30px; font-weight: bold">PVN SHOP</div>
                <p>
                    Mua sắm online - Tiết kiệm, nhanh chóng, thuận tiện
                </p>
            </div>
            <div class="footer-col-1">
                <h3>Liên kết</h3>
                <ul>
                    <li>Cửa hàng</li>
                    <li>Blog</li>
                    <li>Chính sách</li>
                    <li>Bảo mật</li>
                </ul>
            </div>
            <div class="footer-col-1">
                <h3>Theo dõi</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
            <div class="footer-col-1">
                <h3>Dịch vụ khách hàng</h3>
                <ul>
                    <li>Trả hàng hoàn tiền</li>
                    <li>Trung tâm trợ giúp</li>
                    <li>Chính sách bảo hành</li>
                    <li>Hướng dẫn mua sắm</li>
                </ul>
            </div>
        </div>
        <hr />
        <p class="copyright">Copyright 2024 - PVN</p>
    </div>
</div>